{% extends 'bananasorter/base.html' %}
{% load staticfiles %}

{% block content %}
<header>
    <h2>Text classifiers</h2>
</header>
<p>View the following text classifiers you've made:</p>
{% if user_class_list %}
    <ul>
        {% for classifier in user_class_list %}
        <li> <a href="">{{ classifier }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <ul>
        <li>Empty list</li>
    </ul>
{% endif %}

<h2>Add a new classifier: </h2>
<form class="classifier_form" action="" method="post">
    {% csrf_token %}
    <!-- {{ classifier_form.as_p }} -->
    <p>Name: <input type="text" name="name" value=""><br/><br/></p>
    <input type="submit" name="new_classifier" value="Add Classifier">
</form>


<br/>
<button onclick="myFunction()">Reload page</button>

<script>
    function myFunction() {
        location.reload();
</script>
{% endblock %}

<!-- <!DOCTYPE html>
<html>
{% load static from staticfiles %}

    <head>
        <meta charset="utf-8">
        <title>Profile: {{ user }}</title>
        <noscript>
            <meta http-equiv="refresh" content="60">
        </noscript>
    </head>
    <body>
    </body>
</html>
        <header>
            <h2>Text classifiers</h2>
        </header>
        <p>View the following text classifiers you've made:</p>
            <ul class=classifier_list>
            {% if user_class_list %}
                <noscript>
                {% for classifier in user_class_list %}
                <li> <a href="{% url 'bananasorter:detail' classifier.id %}">{{ classifier }}</a></li>
                {% endfor %}
                </noscript>
            </ul>
            {% else %}
                <li>Empty list</li>
            </ul>
            {% endif %}

        <h2>Add a new classifier: </h2>
        <form class="classifier_form" action="" method="post">
            {% csrf_token %}
            <!-- {{ classifier_form.as_p }} -->
            <p>Name: <input type="text" name="name" value=""><br/><br/></p>
            <input type="hidden" name="user_id" value={{ request.user.id }}>
            <input type="submit" name="new_classifier" value="Add Classifier">
        </form>

    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'bananasorter/js/profile.js' %}"></script>
{% endblock %}
</html> -->
